body {
  margin: 0;
  padding: 0;
}

#app {
  max-width: 500px;
  margin: 20px auto;
}

h1 {
  color: #51AAF2;
  text-align: center;
}

#container {
  width: 100%;
  min-height: 100vh;

}

#todoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#todoList li {
  display: flex;
  padding: 10px;
  cursor: pointer;
  min-height: 62px;
}

.listContainer {
  display: flex;
  align-items: center;
}

.text {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
}

.detail {
  font-size: 13px;
  font-weight: lighter;
  color: #99999A
}

.date {
  font-size: 13px;
  color: #99999A
}

#inputContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  position: relative;
  animation: slideIn 0.3s ease-out;
}

#inputContainer.editing {
  border-bottom: 1px solid #51AAF2;
}


@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.listItemHide {
  animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#todoItemText,
#todoItemDetail,
#todoItemDate,
#addButton {
  padding: 12px;
  border: none;
}

input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  color: #99999A;
}

input[type=date]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  color: #99999A;
}

input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  color: #99999A;
}

input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  color: #99999A;
}

#addButton {
  width: 100%;
  color: #99999A;
  border: none;
  background-color: white;
}

[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border: 1px solid #99999A;
  border-radius: 50%;
}